html {
  min-height: 100vh;
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/Proxima-Nova-Thin-VN.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-Regular.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-Semibold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-Semibold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/Proxima-Nova-Bold-VN.otf");
  font-weight: 800;
}

@keyframes border-pulse {
  50% {
    border-color: rgba(255, 255, 255, 0);
  }
}

.income-input input {
  color: #000 !important;
}
.income-input input::placeholder {
  color: var(--joy-palette-neutral-500) !important;
}

.selected-row {
  background-color: var(--joy-palette-secondary-100) !important;
}
.selected-row:hover {
  background-color: var(--joy-palette-secondary-100) !important;
}

.sticky-table-header {
  position: sticky;
  top: 0;
  z-index: 1;
}
